tado_guestmode/config/config.yml
sonarr_youtubedl/config/config.yml
# WIP folders
plex_auto_collections/
xbox_webapi/
# Local testing files
env/
__pycache__/
*.backup
.venv
*_cookies.txt
sonarr_root/
sonarr_youtubedl/config/config.yml.template
logs/
