tado_guestmode/config/config.yml
sonarr_youtubedl/config/config.yml
# WIP folders
plex_auto_collections/
xbox_webapi/
# Local testing files
__pycache__/
sonarr_root/
env/
tado_connect.py.backup
.venv
*_cookies.txt